{% comment %}
  Display variant options for a product

  @param selected_variant
{% endcomment %}

{% style %}
  .fit-tip{
      display:none;
    }
    [data-option-index="0"] .fit-tip{
      padding-bottom:25px;
      display:block;
    }
  .color-option-div {
    display: none;
}
{% endstyle %}

{% assign swatch_trigger = settings.swatch_trigger | strip | downcase %}
{% assign file_extension = 'png' %}

{% assign loop_index = option_index | plus: 1 %}
{%- assign swatch_option_key = 'option' | append: loop_index -%}

<fieldset class="swatch is-flex is-flex-wrap {% if option.name contains 'color' or option.name contains 'Colour' %} color-option-div {% endif %}" data-option-index="{{ option_index }}" >
 <legend class="option-title label {{ option.name }}-label">
      <span
        class="abcd options-selection__option-name"
        data-variant-option-name="{{ 'product.variants.chosen_option_html' | t: option: option.name, value: option.selected_value | escape }}"
        data-variant-option-choose-name="{{ 'product.variants.choose_option' | t: option: option.name }}"
      >
        {% if selected_variant %}
          {{ 'product.variants.chosen_option_html' | t: option: option.name, value: option.selected_value }}
        {% else %}
          {{ 'product.variants.choose_option' | t: option: option.name }}
        {% endif %}
      </span>
    </legend>
  <div
    class="swatch__options"
    data-variant-option
    data-variant-option-index="{{ option_index }}"
    data-variant-option-chosen-value="{% if selected_variant %}{{ option.selected_value }}{% else %}false{% endif %}"
  >
    {% for value in option.values %}
      {% assign option_name = option.name | downcase %}

      {% if show_swatches and option_name == swatch_trigger %}
        {% assign is_color = true %}
      {% endif %}

      {% if option_name == swatch_trigger %}
        {% assign swatch_search_color = value | downcase %}
        {% for variant in product.variants %}
          {% assign option_value_downcased = variant[swatch_option_key] | downcase %}
          {% if option_value_downcased == swatch_search_color %}
            {% assign swatch_file_url = variant.image | img_url: 'small' %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="swatch__option" data-variant-option-value-wrapper>
        <input
          class="swatch--{{ value | handle }}"
          type="radio"
          aria-label="{{ value | escape }}"
          tabindex="0"
          name="option-{{ option_index }}"
          value="{{ value | escape }}"
          {% if selected_variant and option.selected_value == value %}checked {% elsif option.name contains 'color' or option.name contains 'Colour' %}checked {% endif %}
          data-variant-option-value
          data-variant-option-value-index="{{ option_index }}"
        />
        <div
          aria-label="{{ value | escape }}"
          tabindex="0"
          data-value="{{ value | escape }}"
          data-value-handle="{{ value | handle }}"
          class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch"
        >
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            <label
              style="
                {% if settings.swatches_option_style == 'variant_image' and product.variants[forloop.index0].image != blank %}
                  background-image: url({{ swatch_file_url }});
                {% else %}
                  background-color: {{ value | split: ' ' | last | handle }};
                {% endif %}
              "
              data-variant-option-value-label
              data-variant-image="{% if settings.swatches_option_style == 'variant_image' and product.variants[forloop.index0].image != blank %}true{% endif %}"
            >

              {% if product.variants[forloop.index0].image == blank or settings.swatches_option_style != 'variant_image' %}
                {% assign image_name = value | handle | append: '.' | append: file_extension %}
                {% assign swatch = images[image_name] %}
              {% endif %}

              <img class="swatch__image {% if swatch == empty %}swatch__image--empty{% endif %}" src="{{ swatch | img_url: '50x' }}" alt="">

              <span class="crossed-out" aria-label="{{ 'products.product.sold_out' | t }}" alt="{{ 'products.product.sold_out' | t }}"></span>
            </label>
          {% else %}
            <label
              data-variant-option-value-label
            >
              {{ value }}
              <span class="crossed-out" aria-label="{{ 'products.product.sold_out' | t }}" alt="{{ 'products.product.sold_out' | t }}"></span>
            </label>
          {% endif %}
          <script class="id-script">
            (function() {
              const idScriptEl = document.querySelector('.id-script:not(.id-script--processed)');
              const idScriptsProcessed = document.querySelectorAll('.id-script.id-script--processed').length;
              const variantOptionValueWrapper = idScriptEl.closest('[data-variant-option-value-wrapper]');
              const variantOptionValue = variantOptionValueWrapper.querySelector('[data-variant-option-value]');
              const variantOptionValueLabel = variantOptionValueWrapper.querySelector('[data-variant-option-value-label]');
              variantOptionValue.id = `{{ product.id }}-${idScriptsProcessed}`;
              variantOptionValueLabel.setAttribute('for', `{{ product.id }}-${idScriptsProcessed}`);
              idScriptEl.classList.add('id-script--processed');
            })();
          </script>
        </div>
      </div>
    {% endfor %}
  </div>
   {% if product.metafields.custom.fit_tip.value != blank %}
    <div>
      <span class="fit-tip">{{ product.metafields.custom.fit_tip.value }}</span>
    </div>
  {% endif %}
</fieldset>
{% if option.name == 'Size' %}
  {% comment %} Size chart {% endcomment %}
  {% for tag in product.tags %}
    {% if tag contains 'meta-size-chart-' %}
      {% assign meta_size_chart = true %}
    {% endif %}
  {% endfor %}

  {% if settings.size_chart != blank or meta_size_chart %}
    <a
      class="product__size-chart"
      href="javascript:;"
      data-fancybox
      data-src="#size-chart{{ product.id }}"
      data-type="inline"
      >Size Guide</a
    >
    {%
      render 'popup-size-chart',
      product_id: product.id,
    %}
  {% endif %}
{% endif %}

       <div class="swatch swatch_options">
                {% assign colorHex = product.metafields.custom.swatch_colour_code  | remove: '["' | remove: '"]' %}
                  {% assign colorTitle = product.metafields.custom.colour_name | remove: '["' | remove: '"]' %}
                  {% assign colorImage = product.metafields.custom.colour_image | image_url  %}
                 
                 <div class="option-title label">Colours </div>
                      <div class="all-color-swatch">
                      {% assign product_handles = product.metafields.custom.related_products  | remove: '["' | remove: '"]' | split: ", " %}
                         {{ product_handles }}
                        {% assign related_products = product.metafields.custom.related_products .value %}
                       
                          <a href="{{product.url}}" class="1 active swatch-item {% if product.available == false %} crossed {% endif %}" data-value="{{colorTitle}}">
                           <div aria-label="{{ colorTitle}}"
                                  tabindex="0"
                                  data-value="{{ colorTitle }}"
                                  
                                  class="swatch-element  color  {{ colorTitle }}-swatch"
                                >
                            
                            {% if colorImage %}
                              <label class="variant-picker__option-button variant-picker__option-button--button" style="background-image:url({{ colorImage }});background-size: contain;" data-variant-option-value-label> 
                              </label>
                            {% else %}
                              <label class="variant-picker__option-button variant-picker__option-button--button" style="background-color:#{{colorHex}};" data-variant-option-value-label> 
                              </label>
                            {% endif %}
                
                            <div class="tooltip">{{colorTitle}}</div>
                          </div>
                        </a>
                        {% for related_product in product_handles %}
                             {% assign related = all_products[related_product] %}
                              {% assign group_product_color = related_product.metafields.custom.swatch_colour_code | remove: '["' | remove: '"]' %}
                              Gati:{{ related.metafields.custom.swatch_colour_code }}
                              {% assign group_product_color_title = related_product.metafields.custom.colour_name | remove: '["' | remove: '"]' %}
                              {% assign group_product_color_image = related_product.metafields.custom.colour_image | image_url %}
                               
                                <a href="{{related_product.url}}" class="2 swatch-item {% if related_product.available == false %} crossed {% endif %}" datacolor="{{colorHex}}">
                                     <div aria-label="{{ value | escape | strip }}"
                                            tabindex="0"
                                            data-value="{{ value | escape | strip }}"
                                            data-value-handle="{{ value | handle }}"
                                            class="swatch-element  color  {{ value | handle }}-swatch"
                                          >
                                        {%if related_product.metafields.custom.colour_image %}
                                           <label class="variant-picker__option-button variant-picker__option-button--button" style="background-image:url({{ related_product.metafields.custom.colour_image | image_url }});background-size: contain;" data-variant-option-value-label>
                                           </label>
                                        {% else %}
                                            <label class="variant-picker__option-button variant-picker__option-button--button" style="background-color:#{{related_product.metafields.custom.colour_code}};" data-variant-option-value-label>
                                            </label>
                                        {% endif %}
                                       <div class="tooltip">{{group_product_color_title}}</div>
                                    </div>
                                  </a>
                              
                            {% endfor %}
                      </div>
             </div>

    {% comment %} End of Colour Swatch {% endcomment %}    