{% if settings.collection_swatches %}
  {% assign file_extension = 'png' %}

  {% for option in product.options_with_values %}
    {% assign swatch_trigger = settings.swatch_trigger | strip | downcase %}
    {% assign option_name = option.name | downcase %}

    {% if option_name == swatch_trigger %}
      {% assign option_index = forloop.index0 %}
      {% assign values = '' %}
      <div class="thumbnail-swatch is-justify-{{ settings.thumbnail_text_alignment }} is-flex-wrap">

        {% for variant in product.variants %}
          {% assign value = variant.options[option_index] %}
          {% unless values contains value %}
            {% assign values = values | join: ',' %}
            {% assign values = values | append: ',' | append: value %}
            {% assign values = values | split: ',' %}

            {% assign swatch_file_url = variant.image | img_url: 'small' %}

            <a href="{{ variant.url | within: collection }}" class="swatch swatch__style--{{ settings.collection_swatches_shape }}" data-swatch-name="meta-{{ option_name }}_{{ value | replace: ' ', '_' | downcase }}">
              <span {% if section.settings.products_per_row == '2'%}
                      data-image="{{ variant.featured_image | img_url: '600x' }}"
                    {% elsif section.settings.products_per_row == '3' %}
                      data-image="{{ variant.featured_image | img_url: '500x' }}"
                    {% else %}
                      data-image="{{ variant.featured_image | img_url: '400x' }}"
                    {% endif %}
                    style="
                      {% if settings.swatches_option_style == 'variant_image' and product.variants[forloop.index0].image != blank %}
                        background-image: url({{ swatch_file_url }});
                      {% else %}
                        background-color: {{ value | split: ' ' | last | handle }};
                      {% endif %}
                    ">
                  {% assign image_name = value | handle | append: '.' | append: file_extension %}
                  {% assign swatch = images[image_name] %}

                  <img class="swatch__image {% if swatch == empty %}swatch__image--empty{% endif %}" src="{{ swatch | img_url: '50x' }}" alt="{{ variant.title }}">
                </span>
            </a>
          {% endunless %}
        {% endfor %}

      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if product.metafields.custom.related_products != blank %}
      <div class="thumbnail-swatch is-justify-{{ settings.thumbnail_text_alignment }} is-flex-wrap">
          {% assign colorHex = product.metafields.custom.colour  | remove: '["' | remove: '"]' %}
          {% assign colorTitle = product.metafields.custom.colour_title | remove: '["' | remove: '"]' %}
          {% assign colorImage = product.metafields.custom.swatch_colour_image | image_url  %}
          {% assign product_handles = product.metafields.custom.related_products  | remove: '["' | remove: '"]' | split: "," %}
             <a href="{{product.url}}" class="swatch swatch__style--{{ settings.collection_swatches_shape }}" data-value="{{ product.metafields.custom.colour_title | escape | strip }}">
                <div aria-label="{{ colorTitle }}"
                        tabindex="0"
                        data-value="{{ colorTitle }}"
                        data-value-handle="{{ value | handle }}"
                        class="swatch-element-collection  {{colorTitle }}-swatch">
                {% if colorImage %}
                  <label style="background-image:url({{ colorImage }});" data-variant-option-value-label> 
                  </label>
                {% else %}
                <label style="background-color:{{colorHex}};" data-variant-option-value-label>
                </label>
                {% endif %}
                 
                </div>
                </a>
  
                  {% for product_handle in product_handles %}
                  {% assign group_product =  all_products[product_handle] %}
                  {% assign group_product_color = group_product.metafields.custom.colour | remove: '["' | remove: '"]' %}
                  {% assign group_product_color_title = group_product.metafields.custom.colour_title | remove: '["' | remove: '"]' %}
                  {% assign group_product_color_image = group_product.metafields.custom.swatch_colour_image | image_url %}
                  {% assign value = product.title | split:"." | last %}
                  <a href="{{group_product.url}}" class="swatch swatch__style--{{ settings.collection_swatches_shape }}" datacolor="{{colorHex}}" data-value="{{ value | escape | strip }}">
                  <div aria-label="{{ value | escape | strip }}"
                          tabindex="0"
                          data-value="{{ value | escape | strip }}"
                          data-value-handle="{{ value | handle }}"
                          class="swatch-element-collection  {{ value | handle }}-swatch"
                        >
                   {%if group_product_color_image %}
                     <label style="background-image:url({{ group_product_color_image }});" data-variant-option-value-label>
                     </label>
                  {% else %}
                      <label style="background-color:{{group_product_color}};" data-variant-option-value-label>
                      </label>
                  {% endif %}
                     <div class="group_products_tooltip">{{group_product_color_title}}</div>
                  </div>
                  </a>
  
  
              {% endfor %}
      </div>
              
        {% endif %}

