{% comment %}
----------------
Optional values
context: <string>
{% endcomment %}

{% comment %} Check if product is on sale 
{% if product.compare_at_price_max > product.price %}
  {% assign product_on_sale = true %}
{% endif %}{% endcomment %}

{% if product.tags contains "sale" or product.tags contains "Sale" or product.tags contains "SALE"  %}
  {% assign product_on_sale = true %}
{% endif %}

{% comment %} Check if sticker holder should be displayed {% endcomment %}
{% if collection_handles contains 'best-seller' or
      collection_handles contains 'coming-soon' or
      product.tags contains "NEW" or product.tags contains "New-in" or product.tags contains "new" or
      collection_handles contains 'pre-order' or
      collection_handles contains 'staff-pick' or
      product.metafields.custom.discount_badge.value != blank or product.metafields.custom.sticker_1.value != blank or product.metafields.custom.sticker_2.value != blank or
      product_on_sale %}
  <div class="
              sticker-holder
              sticker-shape-{{ settings.sticker_shape }}
              sticker-position-{{ settings.sticker_position }}">
    <div class="sticker-holder__content sticker-holder__content--{{ context }}">
      
      {% if collection_handles contains 'best-seller' %}
        <div class="best-seller-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.best_seller' | t }}</span>
        </div>
      {% endif %}


      {% if collection_handles contains 'coming-soon' %}
        <div class="coming-soon-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.coming_soon' | t }}</span>
        </div>
      {% endif %}

      {% if product.tags contains "NEW"  or product.tags contains "New-in" or product.tags contains "new" %}
        <div class="new-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.new' | t }}</span>
        </div>
      {% endif %} 

      {% if collection_handles contains 'pre-order' %}
        <div class="pre-order-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.pre_order' | t }}</span>
        </div>
      {% endif %}

      {% if product.available and product_on_sale %}
        <div class="sale-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.sale' | t }}</span>
        </div>
      {% endif %}

      {% unless product.available %}
        <div class="sold-out-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.sold_out' | t }}</span>
        </div>
      {% endunless %}

      {% if collection_handles contains 'staff-pick' %}
        <div class="staff-pick-sticker thumbnail-sticker sticker-{{i}}">
          <span class="sticker-text">{{ 'collections.general.staff_pick' | t }}</span>
        </div>
      {% endif %}

      {% if product.metafields.custom.discount_badge.value != blank %}
        <div class="discount-sticker sticker-{{i}}">
          <span class="sticker-text">{{ product.metafields.custom.discount_badge.value }}</span>
        </div>
      {% endif %}
    
      {% if product.metafields.custom.sticker_1.value != blank %}
        <div class="thumbnail-sticker custom-sticker-1 sticker-{{i}}">
          <span class="sticker-text">{{ product.metafields.custom.sticker_1.value }}</span>
        </div>
      {% endif %}

      {% if product.metafields.custom.sticker_2.value != blank %}
        <div class="thumbnail-sticker custom-sticker-2 sticker-{{i}}">
          <span class="sticker-text">{{ product.metafields.custom.sticker_2.value }}</span>
        </div>
      {% endif %}
  
    </div>
  </div>
{% endif %}
