{% comment %}
** Footer - classic - static **
{% endcomment %}

{% liquid
  assign id = section.id

  assign css_class = section.settings.css_class
  assign custom_css = section.settings.custom_css

  assign show_follow_on_shop = false
  assign locale_selector = false
  assign currency_selector = false
  assign show_payment_icons = false
  assign right_column_item_count = 0
  assign additional_sub_footer_right_class = ''
  assign conditional_1 = false
  assign conditional_2 = false

  if shop.features.follow_on_shop? and section.settings.show_follow_on_shop
    assign show_follow_on_shop = true
  endif

  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 or localization.available_countries.size > 1
    assign currency_selector = true
  endif

  if shop.enabled_payment_types.size > 0 and section.settings.display_payment_methods
    assign show_payment_icons = true
  endif

  if currency_selector or locale_selector
    assign right_column_item_count = right_column_item_count | plus: 1
  endif

  if show_payment_icons
    assign right_column_item_count = right_column_item_count | plus: 1
  endif

  if right_column_item_count == 1
    if locale_selector or currency_selector or settings.show_multiple_currencies
      assign additional_sub_footer_right_class = 'sub-footer-right--selectors-only'
    else
      assign additional_sub_footer_right_class = 'sub-footer-right--payments-only'
    endif
  endif

  if show_follow_on_shop and right_column_item_count > 0
    assign conditional_1 = true
  endif

  if show_follow_on_shop == false and right_column_item_count > 1
    assign conditional_2 = true
  endif
%}

{% capture footer_right_column %}
  {%- if right_column_item_count > 0 -%}
    <div class="sub-footer-right {{ additional_sub_footer_right_class }}">
      <div class="footer-menu__disclosure footer-classic__disclosure">
        {%
          render 'localization-switcher',
          additional_classes: 'footer-menu__disclosure is-hidden-mobile-only',
          id: 'footer__selector-form',
          currency_selector: currency_selector,
          locale_selector: locale_selector,
          show_currency: section.settings.show_currency_selector,
        %}
        {%
          render 'localization-switcher',
          id: 'footer__selector-form--mobile',
          additional_classes: 'selectors-form--mobile is-hidden-desktop-only',
          currency_selector: currency_selector,
          locale_selector: locale_selector,
          show_currency: settings.show_currency_selector,
        %}
      </div>
      {%- if show_payment_icons -%}
        <div class="footer__payment-methods small-down--one-whole is-flex is-justify-end is-flex-wrap">
          <div class="payment-methods">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
{% endcapture %}

{% style %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
  /* THF Custom css */
  .footer__content.has-padding-top {padding-top: 10px;} 
  .footer__content.has-padding-bottom {padding-bottom: 10px;}
  .footer__block.block__text p:not(.footer__heading) {margin-bottom: 10px;}
  .footer__logo-wrapper.is-small {max-width: 45%;}
  .footer__menu-link {margin-bottom: 15px;}
  .footer .social-icons li {padding-right: 25px;}
  .footer .social-icons li:last-child {padding-right: 0;}
  .footer__extra-content {background-color: #e3e3e3;}
  .footer__extra-content p {font-size: 11px;}
  @media (max-width: 798px) {
    .footer__seo {order: 1; margin-bottom: 30px;}
    .footer__payment-methods {order: 2; margin-bottom: 20px;}
    .footer__credits {order: 3; margin-bottom: 10px;}
  }
  @media (min-width: 799px) {
    .footer__content.has-padding-top {padding-top: 50px;} 
    .footer__content.has-padding-bottom {padding-bottom: 50px;}
    .footer__heading {margin-bottom: 20px;}
  }
  .footer__heading {    
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .15em;
  }
  .footer__menu-link a{   
    font-weight:lighter;
    font-size:12px;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
  /*.block__footer-classic-2 p:not(.footer__heading){
    font-size:19px;
    font-weight:300;
}*/
  .footer__logo-wrapper{
    padding-top: 8px;
  }
  .payment-methods .zip-pay-icon,
  .payment-methods .after-pay-icon {
    height: 24px;
  }
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<footer class="footer__container {{ css_class }}">
  <section class="footer__content
                  section
                  is-width-wide
                  has-background
                  has-padding-top
                  has-padding-bottom">
    <div class="container has-limit is-justify-space-between">
      {% for block in section.blocks %}
        <div id="shopify-section-{{ block.id }}" class="footer__block block__{{ block.id }} block__{{ block.type | downcase | replace: '_', '-' }}
                    {% render 'column-width', value: section.blocks.size %}
                    medium-down--one-whole column"
                    {{ block.shopify_attributes }}>
          {% if block.type == 'logo' %}
            {% comment %} Logo and text {% endcomment %}
            <div>
              <a href="{{ routes.root_url }}" title="{{ shop.name }}" class="footer__logo-wrapper has-padding-bottom is-{{ block.settings.size }}">
                {% if block.settings.logo %}
                  {%
                    render 'image-element',
                    image: block.settings.logo,
                    alt: block.settings.logo.alt,
                    additional_classes: 'footer__logo',
                    focal_point: block.settings.logo.presentation.focal_point,
                  %}
                {% else %}
                  <h2 class="footer__heading">{{ shop.name }}</h2>
                {% endif %}
              </a>
              {% if block.settings.text != blank %}
                {{ block.settings.text }}
              {% endif %}
              {% if block.settings.social_icons_footer %}
                <div class="has-padding-bottom has-padding-top">
                  {% render 'social-icons' %}
                </div>
              {% endif %}
            </div>

          {% elsif block.type == 'html' %}

            {{ block.settings.html_content }}

          {% elsif block.type == 'link_list' %}
            {% comment %} Menu {% endcomment %}
            {% render 'footer__menu', menu_link: block.settings.menu %}

            {% if block.settings.social_icons_footer %}
              <div class="has-padding-bottom has-padding-top">
                {% render 'social-icons' %}
              </div>
            {% endif %}

          {% elsif block.type == 'text' %}
            {% comment %} Text {% endcomment %}
            {% if block.settings.title != blank %}
              <p class="footer__heading">{{ block.settings.title }}</p>
            {% endif %}
            {% if block.settings.content != blank %}
              {{ block.settings.content }}
            {% endif %}

            {% if block.settings.social_icons_footer %}
              <div class="has-padding-bottom has-padding-top">
                {% render 'social-icons' %}
              </div>
            {% endif %}

            {% elsif block.type == 'newsletter' %}
              {% comment %} Newsletter {% endcomment %}
              {% if block.settings.newsletter_title != blank %}
                <p class="footer__heading">
                  {{ block.settings.newsletter_title }}
                </p>
              {% endif %}

              {% if block.settings.newsletter_richtext != blank %}
                <div class="content">
                  {{ block.settings.newsletter_richtext }}
                </div>
              {% endif %}

              {%
                render 'newsletter-form',
                type: 'block',
                display_first_name: block.settings.display_first_name,
                display_last_name: block.settings.display_last_name,
                id: 'footer',
              %}

              {% if block.settings.newsletter_richtext_bottom != blank %}
                <div class="content">
                  {{ block.settings.newsletter_richtext_bottom }}
                </div>
              {% endif %}

              {% if block.settings.social_icons_footer %}
                <div class="has-padding-bottom has-padding-top">
                  {% render 'social-icons' %}
                </div>
              {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="footer__extra-content">
    <div class="section">
    <div class="container is-justify-space-between has-padding-top has-padding-bottom">
      {% if locale_selector or currency_selector or settings.show_multiple_currencies %}
        <div class="one-whole column">
          <div class="footer-menu__disclosure footer-classic__disclosure">
            {% render 'localization-switcher',
              additional_classes: 'footer-menu__disclosure is-hidden-mobile-only',
              id: 'footer__selector-form',
              currency_selector: currency_selector,
              locale_selector: locale_selector,
              show_currency: section.settings.show_currency_selector
            %}
            {%
              render 'localization-switcher',
              id: 'footer__selector-form--mobile',
              additional_classes: 'selectors-form--mobile is-hidden-desktop-only',
              currency_selector: currency_selector,
              locale_selector: locale_selector,
              show_currency: settings.show_currency_selector
            %}
          </div>
        </div>
      {% endif %}
      {% if section.settings.display_payment_methods %}
        <div class="footer__payment-methods one-fourth column small-down--one-whole medium-down--text-center text-left">
          <div class="payment-methods">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
            <!-- Afterpay -->
            <svg class="payment-icon after-pay-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 24"><path fill="#FFFFFF" d="M35,0H3A3,3,0,0,0,0,3V21a3,3,0,0,0,3,3H35a3,3,0,0,0,3-3V3A3,3,0,0,0,35,0Z"/><path d="M36.12,10l-1.06-.61L34,8.75a1.07,1.07,0,0,0-1.6.93v.13a.23.23,0,0,0,.1.19l.5.28a.2.2,0,0,0,.28-.08.19.19,0,0,0,0-.1V9.78a.21.21,0,0,1,.2-.22l.12,0,1,.57,1,.56a.22.22,0,0,1,.07.3l-.07.07-1,.56-1,.57a.21.21,0,0,1-.29-.07.24.24,0,0,1,0-.12v-.16a1.07,1.07,0,0,0-1.6-.93l-1.08.62-1.06.61a1.08,1.08,0,0,0-.4,1.46,1,1,0,0,0,.4.4l1.06.61,1.08.61a1.07,1.07,0,0,0,1.6-.93v-.13a.23.23,0,0,0-.1-.19l-.5-.29a.2.2,0,0,0-.28.08.23.23,0,0,0,0,.11v.32a.21.21,0,0,1-.2.22.27.27,0,0,1-.12,0l-1-.57-1-.56A.22.22,0,0,1,30,13l.07-.07,1-.56,1-.57a.21.21,0,0,1,.29.07.24.24,0,0,1,0,.12v.16a1.07,1.07,0,0,0,1.6.93l1.08-.62,1.06-.61a1.06,1.06,0,0,0,.34-1.47A1,1,0,0,0,36.12,10Z"/><path d="M29.14,10.18l-2.49,5.14h-1l.93-1.92-1.46-3.22h1.06l.94,2.15,1-2.15Z"/><path d="M4.25,12a1,1,0,1,0-1,1.05h0a1,1,0,0,0,1-1V12m0,1.83v-.48a1.49,1.49,0,0,1-1.16.54,1.79,1.79,0,0,1-1.75-1.83V12a1.82,1.82,0,0,1,1.75-1.89h0a1.47,1.47,0,0,1,1.14.53v-.46h.89v3.65Z"/><path d="M9.52,13c-.32,0-.4-.12-.4-.42V11h.57v-.79H9.12V9.29H8.2v.89H7V9.81c0-.3.12-.42.44-.42h.2V8.68H7.21c-.76,0-1.12.25-1.12,1v.49H5.58V11h.51v2.86H7V11H8.2v1.79c0,.75.28,1.07,1,1.07h.5V13Z"/><path d="M12.82,11.67a.87.87,0,0,0-.91-.75.89.89,0,0,0-.92.75ZM11,12.24a.91.91,0,0,0,.94.85,1,1,0,0,0,.86-.47h.94a1.79,1.79,0,0,1-1.82,1.27A1.8,1.8,0,0,1,10,12.22V12a1.89,1.89,0,1,1,3.78,0h0a.89.89,0,0,1,0,.23Z"/><path d="M19.66,12a1,1,0,1,0,0,.05V12m-2.89,3.32V10.18h.89v.47a1.49,1.49,0,0,1,1.16-.54,1.79,1.79,0,0,1,1.76,1.82V12a1.82,1.82,0,0,1-1.75,1.89h0a1.44,1.44,0,0,1-1.11-.49v1.92Z"/><path d="M23.82,12a1,1,0,1,0-1.05,1.05h.05a1,1,0,0,0,1-1V12m0,1.83v-.48a1.46,1.46,0,0,1-1.15.54,1.79,1.79,0,0,1-1.76-1.82V12a1.82,1.82,0,0,1,1.75-1.89h0a1.45,1.45,0,0,1,1.13.53v-.46h.9v3.65Z"/><path d="M15.15,10.54a.91.91,0,0,1,.79-.43.88.88,0,0,1,.39.08v.94a1.15,1.15,0,0,0-.65-.17.64.64,0,0,0-.5.71v2.16h-.93V10.18h.9Z"/></svg>
            <!-- Zip pay -->  
            <svg class="payment-icon zip-pay-icon" viewBox="0 0 74 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4.66667C1 2.64162 2.64162 1 4.66667 1H69.3333C71.3584 1 73 2.64162 73 4.66667V41.3333C73 43.3584 71.358 45 69.3333 45H4.66667C2.64162 45 1 43.3584 1 41.3333V4.66667Z" fill="#FFFFFF"/>
            <path d="M27.4662 16.689L29.3432 31.9599H47.6971L45.82 16.689H27.4662Z" fill="#AA8FFF"/>
            <path d="M32.7021 10.8616C33.8727 11.962 34.0332 13.6929 33.0607 14.7276C32.0881 15.7623 30.3508 15.709 29.1802 14.6085C28.0096 13.508 27.849 11.7771 28.8215 10.7424C29.7941 9.70775 31.5315 9.76107 32.7021 10.8616Z" fill="#1A0826"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.9321 22.1878C66.5096 18.7533 63.8117 16.677 60.1482 16.689H47.9445L49.8216 31.96H55.3138L54.9396 28.9058H60.7518C65.3206 28.9058 67.4149 26.0568 66.9321 22.1878ZM60.1542 24.6263L54.4085 24.6323L53.9558 20.9685L59.7318 20.9745C61.0898 20.9926 61.7838 21.7532 61.8985 22.8034C61.9709 23.4734 61.6631 24.6263 60.1542 24.6263Z" fill="#1A0826"/>
            <path d="M8.35195 27.6926L8.87703 31.96H27.2127L26.6092 27.0769H18.063L17.9845 26.4673L25.8608 20.9685L25.3357 16.689H7L7.59751 21.5781H16.1618L16.2403 22.1878L8.35195 27.6926Z" fill="#1A0826"/>
            <path d="M4.66667 2H69.3333V0H4.66667V2ZM72 4.66667V41.3333H74V4.66667H72ZM69.3333 44H4.66667V46H69.3333V44ZM2 41.3333V4.66667H0V41.3333H2ZM4.66667 44C3.19391 44 2 42.8061 2 41.3333H0C0 43.9107 2.08934 46 4.66667 46V44ZM72 41.3333C72 42.8061 70.8061 44 69.3333 44V46C71.9107 46 74 43.9107 74 41.3333H72ZM69.3333 2C70.8061 2 72 3.19391 72 4.66667H74C74 2.08934 71.9107 0 69.3333 0V2ZM4.66667 0C2.08934 0 0 2.08934 0 4.66667H2C2 3.19391 3.19391 2 4.66667 2V0Z" fill="none"/>
            </svg>
              <img class= "icon--full-color" src="https://upload.wikimedia.org/wikipedia/commons/4/40/Klarna_Payment_Badge.svg" alt="{{ shop.name }}" itemprop="logo" style="max-width:40px;">
          </div>
        </div>
      {% endif %}
      {% if section.settings.footer_seo != blank %}
      <div class="footer__seo one-half column small-down--one-whole text-center">
        {{ section.settings.footer_seo }}
      </div>
      {% endif %}
      <div class="footer__credits one-fourth column small-down--one-whole medium-down--text-center text-right">
        <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}.</p>
        {{ section.settings.copyright_text }}
        {% if section.settings.display_designed_by %}
          <p>{{ 'layout.general.designer_credits_html' | t }}</p>
        {% endif %}
        {% if section.settings.display_shopify %}
          <p>{{ powered_by_link }}</p>
        {% endif %}
      </div>
    </div>
    </div>
  </section>
</footer>

{% schema %}
  {
    "name": "Footer",
    "class": "footer footer--classic",
    "max_blocks": 5,
    "settings": [
      {
        "type": "richtext",
        "id": "copyright_text",
        "label": "Copyright text"
      },
      {
          "type": "richtext",
          "id": "footer_seo",
          "label": "Footer SEO text"
      },
      {
        "type": "checkbox",
        "id": "display_designed_by",
        "label": "Show theme designer credits",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_shopify",
        "label": "Show Powered by Shopify",
        "default": true
      },
      {
        "type": "header",
        "content": "Follow on Shop",
        "info": "Display follow button for your storefront on the Shop app. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/themes\/customizing-themes\/follow-on-shop)"
      },
      {
        "type": "checkbox",
        "id": "show_follow_on_shop",
        "label": "Enable Follow on Shop",
        "default": true
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Enable language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Country selector",
        "info": "To add a country, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Enable country selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Payment icons"
      },
      {
        "type": "checkbox",
        "id": "display_payment_methods",
        "label": "Show payment method icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "textarea",
            "id": "html_content",
            "label": "HTML",
            "default": "<h2 class='footer__heading'>Your own custom HTML</h2>"
          }
        ]
      },
      {
        "type": "logo",
        "name": "Logo and text",
        "settings": [
          {
            "type": "header",
            "content": "Logo"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "500 x 200px recommended"
          },
          {
            "type": "select",
            "id": "size",
            "label": "Logo size",
            "default": "small",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show drop-down items.",
            "default": "footer"
          },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "newsletter_title",
            "label": "Heading",
            "default": "Subscribe"
          },
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text",
            "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
          },
          {
            "type": "checkbox",
            "id": "display_first_name",
            "label": "Show first name"
          },
          {
            "type": "checkbox",
            "id": "display_last_name",
            "label": "Show last name"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "empty",
        "name": "Empty column",
        "settings": [
        ]
      }
    ]
  }
{% endschema %}
