{% layout none %}

<template data-options>
  {
    "item_count": {{ cart.item_count | json }}
  }
</template>

<template data-html="content">
  {% comment %} No items in the cart message {% endcomment %}
  {% comment %}
  <div class="ajax-cart__cart-count">
    <p class="ajax-cart__cart-title">
      {{ 'cart.general.title' | t }}
      <span
        class="ajax-cart__cart-item-count"
        data-bind="itemCount"
      >
        {{- cart.item_count -}}
      </span>
    </p>

    <div
      class="ajax-cart__close-icon"
      data-ajax-cart-close
    >
      {%
        render 'icon',
        name: 'x',
      %}
    </div>
  </div>
{% endcomment %}
  <div
    class="
      ajax-cart__empty-cart-message
      text-align-center
      has-margin-top
      {% if cart.item_count > 0 %}
        is-hidden
      {% endif %}
    "
  >
    <p class="ajax-cart__cart-title has-margin-bottom"><a href="/collections/new">
        <svg style="width: 10px;vertical-align: text-bottom;"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
      &nbsp;&nbsp;&nbsp;{{ 'cart.general.title' | t }}</a>
      <span class="cart__count--text is-hidden" data-bind="itemCount" >{{ cart.item_count }}</span>
      
    </p>
    {%
      render 'icon',
      name: settings.cart_icon
    %}
    <p class="ajax-cart__empty-text">{{ 'layout.general.empty_cart' | t }}</p>
    <a href="/collections/new">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
  </div>

  <form action="{{ routes.cart_url }}" method="post"
          class="ajax-cart__form {% if cart.item_count == 0 %}is-hidden{% endif %}">
    <div class="ajax-cart__header">
        <div class="ajax-cart__cart-count text-align-left">
        {% comment %}
        <a href="/collections/new"> <p class="ajax-cart__cart-title"><svg style="width: 10px;vertical-align: text-bottom;"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>&nbsp;&nbsp;&nbsp;
        {{ 'cart.general.title' | t }} 
            <span class="cart__count--text is-hidden" data-bind="itemCount" >{{ cart.item_count }}</span>
          </p>
        </a>
        {% endcomment %}
          <div class="cart-inside-text">
            <p>It's in the bag!</p>
            <p>You've got great taste</p>
            
          </div>
          <div class="ajax-cart__close-icon" data-ajax-cart-close>
              {% render 'icon', name: 'x' %}
            </div>
        </div>

       <div class="ProPrice" price="{{ settings.cart_threshold }}">
          {% assign cart_threshold = settings.cart_threshold | times: 100 %}
            {% assign cartPrice = cart.total_price | plus: 0 %}
            {% assign totalPrice = cartPrice %}  
            <div class="ProText">	
              {% if cart.items.size == 0 %} Add items to your cart to receive free express shipping.{% endif %}
              {% if cart.items.size != 0 %}
                {% if totalPrice >= cart_threshold %} 
                  You've got FREE Shipping 
                {% elsif totalPrice < cart_threshold %}
                  You are {{ cart_threshold | minus: totalPrice | money }} away from free shipping.
                {% endif %}
              {% endif %}
            </div>
      </div>
    </div>
    <div class="ajax-cart__inner"> 
    <div class="ajax-cart__list">
      {% assign total_saving = 0 %}

      {% comment %} Loop through cart products {% endcomment %}
      {% for item in cart.items %}
        {% if item.variant.compare_at_price > item.variant.price %}
          {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
          {% assign total_saving = saving | plus: total_saving %}
        {% endif %}

        <div class="ajax-cart__product media" data-cart-item="{{ item.key }}" data-line-item="{{ forloop.index }}">
          {% comment %} Image {% endcomment %}
          <figure class="ajax-cart__product-image media-left">
            {% if item.product.media %}
              {% if item.product.featured_media.preview_image %}
                <a href="{{ item.url }}">
                  <img src="{{ item.image | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                </a>
              {% endif %}
            {% else %}
              {% if item.image %}
                <a href="{{ item.url }}">
                  <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                </a>
              {% endif %}
            {% endif %}
          </figure>

          <div class="ajax-cart__product-content media-content">
            <div class="ajax-cart__product-title">
              <a href="{{ item.url }}">
                {{ item.product.title }}
                {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                  -
                  {% for option in item.product.options %}
                    {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                  {% endfor %}
                {% endunless %}
              </a>
            </div>

            <div class="ajax-cart__line-items">
              {% if item.properties %}
                {% for p in item.properties %}
                  {% assign property_first_char = p.first | slice: 0 %}
                  {% if p.last != blank and property_first_char != '_' %}
                    <div class="ajax-cart__line-item">
                      {{ p.first }}: {{ p.last }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>

            {% if item.selling_plan_allocation.selling_plan %}
              <p class="ajax-cart__selling-plan-name">{{ item.selling_plan_allocation.selling_plan.name }}</p>
            {% endif %}

            <div class="ajax-cart__line-items-discount">
              {% if item.line_level_discount_allocations.size > 0 %}
                <div class="ajax-cart__price-comparison">
                  <p class="sale">
                    <span class="money">
                      {%
                        render 'price-element',
                        price: item.final_price
                      %}
                    </span>
                  </p>
                  {% if item.original_line_price > item.final_line_price %}
                    <s class="original-price">
                      <span class="money">
                        {%
                          render 'price-element',
                          price: item.original_price
                        %}
                      </span>
                    </s>
                  {% endif %}
                </div>
                {% for discount_allocation in item.line_level_discount_allocations %}
                  <div class="line-item-discount__container">
                    <p>{{ discount_allocation.discount_application.title }}</p>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            {% if item.line_level_discount_allocations.size < 1 %}
              <div class="ajax-cart__price price">
                <span class="money {% if item.original_price < item.variant.compare_at_price %}sale{% endif %}">
                  {%
                    render 'price-element',
                    price: item.original_line_price
                  %}
                </span>
                {% if item.original_price < item.variant.compare_at_price %}
                  {%- assign total_line_saving = 0 -%}
                  {%- assign line_saving = item.variant.compare_at_price | times: item.quantity -%}
                  {%- assign total_line_saving = line_saving | plus: total_line_saving -%}
                  <span class="money compare-at-price">
                    {%
                      render 'price-element',
                      price: total_line_saving
                    %}
                  </span>
                {% endif %}
              </div>
            {% endif %}

            {%
              render 'unit-price',
              item: item,
              class: 'ajax-cart__unit-price'
            %}

            {% if settings.display_ajax_quantity_box %}
              <div class="ajax-cart__quantity-box product-quantity-box" data-line-item-key={{ forloop.index }}>
                {%
                  render 'quantity-box',
                  item: item,
                  size: 'is-medium',
                  variant: item.variant
                %}
              </div>
              <p class="ajax-cart__quantity-warning quantity-warning">
            {% endif %}
          </div>

          <div class="ajax-cart__right-content is-hidden media-right">
            <a class="ajax-cart__delete" data-ajax-cart-delete data-cart-item-key="{{ item.key }}" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" >
              <button class="close" aria-label="close">
                {%
                  render 'icon',
                  name: 'x'
                %}
              </button>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="ajax-cart__details-wrapper">
      {%- if cart.cart_level_discount_applications != blank -%}
        <div class="cart__discounts ajax-cart__details-row is-flex is-justify-space-between sale">
        {%- for discount_application in cart.cart_level_discount_applications -%}
          <div class="ajax-cart__row-description">
            <p>{{- discount_application.title -}}</p>
          </div>
          <p class="ajax-cart__discount">
            <span class="money">
              -
              {%
                render 'price-element',
                price: discount_application.total_allocated_amount
              %}
            </span>
          </p>
        {%- endfor -%}
        </div>
      {%- endif -%}

      {% comment %} Subtotal {% endcomment %}
      <div class="ajax-cart__subtotal ajax-cart__details-row is-flex is-justify-space-between">
        <div class="ajax-cart__row-description">
          <span>{{ 'layout.general.subtotal' | t }}:</span>
        </div>
        <span class="money">
          {%
            render 'price-element',
            price: cart.total_price
          %}
        </span>
      </div>

      {% comment %} Total savings {% endcomment %}
      {% if settings.display_savings and total_saving > 0 %}
        <div class="ajax-cart__savings ajax-cart__details-row is-flex is-justify-space-between sale">
          <div class="ajax-cart__row-description">
            <span>{{ 'layout.general.savings' | t }}:</span>
          </div>
          <span class="money">
            {% assign total_savings = total_saving | plus: cart.total_discount %}
            {%
              render 'price-element',
              price: total_savings
            %}
          </span>
        </div>
      {% endif %}

      {% comment %} Special instructions {% endcomment %}
      {% if settings.display_special_instructions and settings.go_to_checkout %}
        <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="ajax-cart__note">{{ cart.note }}</textarea>
      {% endif %}

      {%- comment -%} Taxes and shipping notice {%- endcomment -%}
      <div class="is-align-center text-align-center ajax-cart__taxes-shipping">
        {%- capture taxes_shipping_checkout -%}
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- elsif cart.taxes_included -%}
            {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
          {%- elsif shop.shipping_policy.body != blank -%}
            {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
          {%- else -%}
            {{ 'cart.general.tax_and_shipping' | t }}
          {%- endif -%}
        {%- endcapture -%}

        <p class="ajax-cart__taxes-shipping-message has-padding-top">{{ taxes_shipping_checkout }}</p>
      </div>

      {% comment %} Terms of service checkbox {% endcomment %}
      {% if settings.display_tos_checkbox and settings.go_to_checkout %}
        <div class="ajax-cart__tos-checkbox text-align-center">
          <p class="tos">
          <input type="checkbox" class="tos_agree" id="sliding_agree" required />
            <label for="sliding_agree" class="tos_label">
              {{ 'cart.general.agree_to_terms_html' | t }}
            </label>
            {% if settings.tos_page != blank %}
              <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
            {% endif %}
        </p>
        </div>

      {% endif %}

      {% comment %} Cart message {% endcomment %}
      {% if settings.cart_message != blank %}
        <div class="ajax-cart__cart-message text-align-center">
          {{ settings.cart_message }}
        </div>
      {% endif %}

      {% comment %} Checkout {% endcomment %}
      <div class="ajax-cart__button-wrapper text-align-center">
        {% if settings.go_to_checkout %}
          <button type="submit" name="checkout" class="ajax-cart__button button--add-to-cart button">
            {% if settings.show_lock_icon %}
              {%
                render 'icon',
                name: 'lock'
              %}
            {% endif %}
            {{ 'layout.general.checkout' | t }}
          </button>
          <a class="ajax-cart__cart-link" href="{{ routes.cart_url }}" >{{ 'layout.general.go_to_cart' | t }}</a>
        {% else %}
          <a href="{{ routes.cart_url }}" class="ajax-cart__button button--add-to-cart button">
            {% if settings.show_lock_icon %}
              {%
                render 'icon',
                name: 'lock'
              %}
            {% endif %}
            {{ 'layout.general.go_to_cart' | t }}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
  </form>
   <div class="footer__payment-methods">
          <div class="payment-methods">
            <span>{{ 'cart.general.we_accept' | t }}</span>
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
            <!-- Afterpay -->
            <svg class="payment-icon after-pay-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 24"><path fill="#FFFFFF" d="M35,0H3A3,3,0,0,0,0,3V21a3,3,0,0,0,3,3H35a3,3,0,0,0,3-3V3A3,3,0,0,0,35,0Z"/><path d="M36.12,10l-1.06-.61L34,8.75a1.07,1.07,0,0,0-1.6.93v.13a.23.23,0,0,0,.1.19l.5.28a.2.2,0,0,0,.28-.08.19.19,0,0,0,0-.1V9.78a.21.21,0,0,1,.2-.22l.12,0,1,.57,1,.56a.22.22,0,0,1,.07.3l-.07.07-1,.56-1,.57a.21.21,0,0,1-.29-.07.24.24,0,0,1,0-.12v-.16a1.07,1.07,0,0,0-1.6-.93l-1.08.62-1.06.61a1.08,1.08,0,0,0-.4,1.46,1,1,0,0,0,.4.4l1.06.61,1.08.61a1.07,1.07,0,0,0,1.6-.93v-.13a.23.23,0,0,0-.1-.19l-.5-.29a.2.2,0,0,0-.28.08.23.23,0,0,0,0,.11v.32a.21.21,0,0,1-.2.22.27.27,0,0,1-.12,0l-1-.57-1-.56A.22.22,0,0,1,30,13l.07-.07,1-.56,1-.57a.21.21,0,0,1,.29.07.24.24,0,0,1,0,.12v.16a1.07,1.07,0,0,0,1.6.93l1.08-.62,1.06-.61a1.06,1.06,0,0,0,.34-1.47A1,1,0,0,0,36.12,10Z"/><path d="M29.14,10.18l-2.49,5.14h-1l.93-1.92-1.46-3.22h1.06l.94,2.15,1-2.15Z"/><path d="M4.25,12a1,1,0,1,0-1,1.05h0a1,1,0,0,0,1-1V12m0,1.83v-.48a1.49,1.49,0,0,1-1.16.54,1.79,1.79,0,0,1-1.75-1.83V12a1.82,1.82,0,0,1,1.75-1.89h0a1.47,1.47,0,0,1,1.14.53v-.46h.89v3.65Z"/><path d="M9.52,13c-.32,0-.4-.12-.4-.42V11h.57v-.79H9.12V9.29H8.2v.89H7V9.81c0-.3.12-.42.44-.42h.2V8.68H7.21c-.76,0-1.12.25-1.12,1v.49H5.58V11h.51v2.86H7V11H8.2v1.79c0,.75.28,1.07,1,1.07h.5V13Z"/><path d="M12.82,11.67a.87.87,0,0,0-.91-.75.89.89,0,0,0-.92.75ZM11,12.24a.91.91,0,0,0,.94.85,1,1,0,0,0,.86-.47h.94a1.79,1.79,0,0,1-1.82,1.27A1.8,1.8,0,0,1,10,12.22V12a1.89,1.89,0,1,1,3.78,0h0a.89.89,0,0,1,0,.23Z"/><path d="M19.66,12a1,1,0,1,0,0,.05V12m-2.89,3.32V10.18h.89v.47a1.49,1.49,0,0,1,1.16-.54,1.79,1.79,0,0,1,1.76,1.82V12a1.82,1.82,0,0,1-1.75,1.89h0a1.44,1.44,0,0,1-1.11-.49v1.92Z"/><path d="M23.82,12a1,1,0,1,0-1.05,1.05h.05a1,1,0,0,0,1-1V12m0,1.83v-.48a1.46,1.46,0,0,1-1.15.54,1.79,1.79,0,0,1-1.76-1.82V12a1.82,1.82,0,0,1,1.75-1.89h0a1.45,1.45,0,0,1,1.13.53v-.46h.9v3.65Z"/><path d="M15.15,10.54a.91.91,0,0,1,.79-.43.88.88,0,0,1,.39.08v.94a1.15,1.15,0,0,0-.65-.17.64.64,0,0,0-.5.71v2.16h-.93V10.18h.9Z"/></svg>
            <!-- Zip pay -->  
            <svg class="payment-icon zip-pay-icon" viewBox="0 0 74 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4.66667C1 2.64162 2.64162 1 4.66667 1H69.3333C71.3584 1 73 2.64162 73 4.66667V41.3333C73 43.3584 71.358 45 69.3333 45H4.66667C2.64162 45 1 43.3584 1 41.3333V4.66667Z" fill="#FFFFFF"/>
            <path d="M27.4662 16.689L29.3432 31.9599H47.6971L45.82 16.689H27.4662Z" fill="#AA8FFF"/>
            <path d="M32.7021 10.8616C33.8727 11.962 34.0332 13.6929 33.0607 14.7276C32.0881 15.7623 30.3508 15.709 29.1802 14.6085C28.0096 13.508 27.849 11.7771 28.8215 10.7424C29.7941 9.70775 31.5315 9.76107 32.7021 10.8616Z" fill="#1A0826"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.9321 22.1878C66.5096 18.7533 63.8117 16.677 60.1482 16.689H47.9445L49.8216 31.96H55.3138L54.9396 28.9058H60.7518C65.3206 28.9058 67.4149 26.0568 66.9321 22.1878ZM60.1542 24.6263L54.4085 24.6323L53.9558 20.9685L59.7318 20.9745C61.0898 20.9926 61.7838 21.7532 61.8985 22.8034C61.9709 23.4734 61.6631 24.6263 60.1542 24.6263Z" fill="#1A0826"/>
            <path d="M8.35195 27.6926L8.87703 31.96H27.2127L26.6092 27.0769H18.063L17.9845 26.4673L25.8608 20.9685L25.3357 16.689H7L7.59751 21.5781H16.1618L16.2403 22.1878L8.35195 27.6926Z" fill="#1A0826"/>
            <path d="M4.66667 2H69.3333V0H4.66667V2ZM72 4.66667V41.3333H74V4.66667H72ZM69.3333 44H4.66667V46H69.3333V44ZM2 41.3333V4.66667H0V41.3333H2ZM4.66667 44C3.19391 44 2 42.8061 2 41.3333H0C0 43.9107 2.08934 46 4.66667 46V44ZM72 41.3333C72 42.8061 70.8061 44 69.3333 44V46C71.9107 46 74 43.9107 74 41.3333H72ZM69.3333 2C70.8061 2 72 3.19391 72 4.66667H74C74 2.08934 71.9107 0 69.3333 0V2ZM4.66667 0C2.08934 0 0 2.08934 0 4.66667H2C2 3.19391 3.19391 2 4.66667 2V0Z" fill="none"/>
            </svg>
          </div>
        </div>
</template>
